@{
    if(ViewBag.islinked == 1)
    {
     <script type="text/javascript">         param.isReg = true;</script>   
    }
    if(!ViewBag.isInTime)
    {
        <script type="text/javascript">            param.isintime = false;</script>   
    }
    if( ViewBag.P != "1")
    {
    <script type="text/javascript">
        $(function ()
        {
            game.curPage2();
            game.addEvent();
            param.uid = @(ViewBag.U);
            game.seephoto();
            
        });
    </script>
    }
    else{
        <script type="text/javascript">
            $(function ()
            {
                setTimeout(function ()
                {
                    game.init();
                }, 200);
            });
        </script>
    }
    }
<script src="~/js/uploader.js?v=1.2" type="text/javascript"></script>
<!-- 声音数据 -->
	<div id="audio_btn" class="video_exist rotate" >
		<audio loop src="~/images/bgm.mp3?v=1.1" id="media"  preload=""></audio>
	</div> 
	<!-- load页面 -->
	<div class="page page0 active" style="display: block;">
		<div class="nums"></div>
	</div>
	<style type="text/css">
		.page0 .nums em { background-image: url(~/images/nums.png); }
	</style>

	<!--  -->
	<div class="page page1">
		<div class="big-idx">
		</div>
		<img class="address" src="~/images/address.png">
		<a href="javascript:;" class="btn-start"></a>
		<a href="javascript:;" class="my-goods"></a>
		<a href="javascript:;" class="my-saying"></a>
	</div>


	@*<div class="page page2">
		<div class="result-mid">
			<div class="result">
				<div class="result-img">
					<img src="~/images/code-idx.png">
					<img src="~/images/code-idx.png">
				</div>
				<div class="text">
					<div class="text-tb">
						<div class="text-td">
							<p>100% 匹配度</p>
							<p>哇塞，最强基因非你莫属！</p>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img class="say-to" src="~/images/say-to.png">
		<div class="two-btn">
			<a class="btn-see" href="javascript:;"></a>
			<a class="btn-again" href="javascript:;"></a>
		</div>
	</div>*@


	<div class="page page2">
		<div class="result-mid">
			<div class="result">
				<div class="result-img">
					<img id="x_fimg" src="~/images/code-idx.png">
					<img id="x_cimg" src="~/images/code-idx.png">
				</div>
				<div class="text">
					<div class="text-tb">
						<div class="text-td">
							<p id="x_perv">照片正在对比中，请稍候...</p>
							<p id="x_perv2"></p>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="two-btn">
			<a class="btn-see" href="javascript:;"></a>
			<a class="btn-meto" href="javascript:;"></a>
            <a class="btn-again" href="javascript:;"  style="display:none;"></a>
		</div>
	</div>
    <script type="text/javascript">
        function refreshphoto()
        {
            if (param.isUpin)
            {
                game.seephoto();
            }
        }
        setInterval(refreshphoto, 3000);
    </script>


	<div class="layer saying" style="display: none;">
		<div class="saying-main">
			<a class="close" href="javascript:;"></a>
			<h3>活动说明</h3>
			<h4><em>武隆天坑寨子泥地亲子季——“最强基因”</em></h4>
			<div class="saying-tt">
				<p><strong>*</strong><span>活动时间：7月19日至8月10日</span></p>
				<p><strong>*</strong><span>家长上传孩子与自己最像的一张照片（父子、母子、父女、母女均可），进行生成，(该照片需注明姓名、年龄、电话、方便联系您领取奖品。)</span></p>
				<p><strong>*</strong><span>最终入选的10对获胜的亲子家庭将获得天坑寨子爱心互助启动资金200元，10对亲子家庭将利用这200元爱心互助启动资金购买礼物，为天坑寨子邀请的10位武隆当地的留守儿童送去温暖，并和他们度过愉快的周末，参与泥地亲子活动还有可能获得丰厚的现金奖励。</span></p>
				<p><strong>*</strong><span>承办单位：武隆天坑寨子景区</span></p>
			</div>
			<div class="code">
				<img src="~/images/code-idx.png"><span>关注天坑寨子</span>
			</div>
		</div>
	</div>
	<div class="layer goods" style="display: none;">
		<div class="goods-main">
			<a class="close" href="javascript:;"></a>
			<h3>我的排名</h3>
			<h4>当前排名：第 <em id="x_mytop">0</em> 名</h4>
			<div class="rank-tb">
				<div class="thead">
					<div class="tr">
						<div class="td">排行</div>
						<div class="td">头像</div>
						<div class="td">昵称</div>
						<div class="td">成绩</div>
					</div>
				</div>
			</div>
			<div class="rank-tb rank-tb-bt">
				<div class="tbody" id="x_ulist">
					<div class="tr">
						<div class="td"></div>
						<div class="td"></div>
						<div class="td">正在加载...</div>
						<div class="td"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="layer reg" style="display: none;">
	    <form action="" name="form1" id="form1" method="post">
    	<div class="reg-main">
			<strong>请您输入有效的联系方式，方便获奖后联系您</strong>
			<div class="reg-from">
				<div><strong>*</strong><input type="text" id="x_realname" name="x_realname" placeholder="姓名"></div>
				<div><strong>*</strong><input type="tel" id="x_phone" name="x_phone" placeholder="电话"></div>
				<div><strong>*</strong><input type="text" id="x_ages" name="x_ages" placeholder="年龄"></div>
				<div><input type="text" id="x_jobon" name="x_jobon" placeholder="职业"></div>
			</div>
			<div class="bottom-btn"><a class="btn-next" href="javascript:;"></a></div>
		</div>
        </form>
	</div>

	<div class="layer upload" style="display: none;">
		<div class="upload-main">
			<div class="upload-main-top">
            <div id="x_up_gress" style="text-align:center; padding:60px 20px 0 20px; color:white; font-weight:bold; "></div>
				<div class="mid">
					<em>上传您和孩子的照片  </em>
					<div class="upload-file">
						<div class="upload1">
							<input type="file" name="fileToUpload" class="fileToUpload" accept="image/*"   onchange="fileSelected(this,1);">
							<span class="upimg1"><img   src=""></span>
						</div>
						<div class="upload2">
							<input type="file" name="fileToUpload" class="fileToUpload" accept="image/*"   onchange="fileSelected(this,2);">
							<span class="upimg2"><img   src=""></span>
						</div>
					</div>
                    <span>上传要求：五官清晰，正面照片脸部无遮挡。</span>
					<span>小提示：尽可能选择您和孩子最像的照片，测试匹配度会更高哦~</span>
				</div>
			</div>
			<div class="bottom-btn"><a class="btn-go" href="javascript:;"></a></div>
		</div>
	</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>

<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '@(ViewBag.AppId)', // 必填，公众号的唯一标识
        timestamp: '@(ViewBag.Timestamp)', // 必填，生成签名的时间戳
        nonceStr: '@(ViewBag.Noncestr)', // 必填，生成签名的随机串
        signature: '@(ViewBag.Signature)', // 必填，签名，见附录1
        jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage", "hideMenuItems"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.error(function (res)
    {
        
    });
    wx.ready(function ()
    {
        wx.hideMenuItems({
            menuList: ["menuItem:share:qq", "menuItem:share:weiboApp", "menuItem:share:QZone", "menuItem:share:facebook", "menuItem:openWithQQBrowser"]
        });
        wx.onMenuShareTimeline({
            title: '武隆天坑寨子泥地亲子季——“最强基因”等你来战', // 分享标题
            link: '@(Html.Raw(ViewBag.ShareUrl))', // 分享链接
            imgUrl: '@(ViewBag.Logo)', // 分享图标
            success: function ()
            {
                // 用户确认分享后执行的回调函数
            },
            cancel: function ()
            {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: '最强基因', // 分享标题
            desc: '武隆天坑寨子泥地亲子季——“最强基因”等你来战', // 分享描述
            link: '@(Html.Raw(ViewBag.ShareUrl))', // 分享链接
            imgUrl: '@(ViewBag.Logo)', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function ()
            {
                // 用户确认分享后执行的回调函数
            },
            cancel: function ()
            {
                // 用户取消分享后执行的回调函数
            }
        });
    });
    </script>
 